extends base

block content
  p Hi #{firstName},
  p This is a confirmation that your password for your account #{email} has just been changed.
  p If you did not make this change, please contact our support team immediately.
  p - BookMyGuruji Team
